/*==================== BASE ====================*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

/* @keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
} */

body {
	background-color: var(--body-background-color);
	height: 100%;
}

main {
	flex: 1;
}

h1, h2, h3, h4 {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
    color: var(--black-color);
}

img {
	max-width: 100%;
	height: auto;
}

/*==================== VARIABLES CSS ====================*/
:root {
	--body-background-color: #f0f0f0;
	--white-color: #fff;
	--white-color-darker: #d3d3d3;
	--black-color: #111;
	--black-color-lighter: #717070;
	--scroll-color-active: hsl(79, 4%, 35%);
    --body-font: 'Poppins', sans-serif;
}

body.dark-theme {
	--body-background-color: #111;
	--white-color: #1E1E1E;
	--white-color-darker: #535353;
	--black-color: #f0f0f0
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	align-items: stretch;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
