.developer {
    margin-top: 40px;
    width: 100%;
}
.developer__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color-darker);
}
.dark-theme .developer__content {
    background-color: #111;
}

.developer-title {
    color: var(--black-color);
}

.developer__icon {
    font-size: 40px;
    color: var(--black-color);
}

.developer__contact {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 200px;
}

.developer__icon:hover {
    color: white;
}

.dark-theme .developer__icon:hover {
    color: #717070;
}
