.filters {
  margin-top: 15px;   
}
.filters__list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px; 
}

.filters__list-item {
    display: inline-block;   
    border: solid 2px var(--black-color);
    padding: 10px 15px;
    color: white;
}

.filters__list-item:hover {
    background-color: var(--white-color-darker);    
}

.dark-theme .filters__list-item:hover {
    background-color: var(--white-color-darker);    
}

.dark-theme .filters__list-item:hover a {
    color: black;
}

.filters__link {
    font-size: 20px;
}

#filter-line {
    color: var(--black-color);
    width: 100%;
    margin: 10px 0;
}


.filter__static {
    display: flex;
}

.filters__hide {
    display: none;
}

