.filters {
  margin-top: 15px;   
}
.filters__list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px; 
}

.filters__list-item {
    display: inline-block;   
    border: solid 2px var(--black-color);
    padding: 10px 15px;
}
.filters__link {
    font-size: 20px;
}


