.footer {
    margin-top: 20px;
}

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer__logo {
    height: 15px;
    width: 15px;
    color: var(--black-color);
}

.footer-title {
    color: var(--black-color);
}
