#header {    
    position: fixed;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05), 0 4px 6px rgba(0,0,0,0.05);
    /* backdrop-filter: blur(7px); */
    background-color: var(--white-color);
    z-index: 4;
}
  
.header__flex-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo img{
    height: 50px;
    width: 50px;
}

.header-logo-white img {
    height: 50px;
    width: 50px;
}

#header-title {
    font-size: 25px;
    color: var(--black-color);
}

.header__buttons {
    display: flex;
    gap: 10px;
}

.theme__icon {
    font-size: 35px;
}

.burger__menu {
    display: none;
    font-size: 35px;
}

.burger__menu-active {
    display: flex;
    font-size: 35px;
}

.header__buttons-hide {
    display: none;
}