.header {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.header__flex-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo img{
    height: 70px;
    width: 70px;
}
.header__buttons {
    display: flex;
    gap: 10px;
}
.theme__button {
}
.theme__icon {
    font-size: 45px;
}
.burger__menu {
    font-size: 45px;
}
.burger__menu__icon {
}
.ri-menu-fill {
}

