.header {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.header__flex-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo img{
    height: 50px;
    width: 50px;
    z-index: 3;
}

.header__buttons {
    display: flex;
    gap: 10px;
}

.theme__icon {
    font-size: 35px;
}

.burger__menu {
    display: none;
    font-size: 35px;
}

.burger__menu-active {
    display: flex;
    font-size: 35px;
}

.header__buttons-hide {
    display: none;
}