.important__info {
    padding-top: 90px;
}

.important__info__list {
    background-color:  var(--white-color-darker);
    padding: 15px;
    text-align: center;
}

.important__info__list-item {
    font-family: 'Poppins', sans-serif;
	display: none;
	color: black;
}

.showing {
    display: inline;
    animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}