.mobile__menu-active {
	transform: translateX(-500px);
}

.mobile__menu {
    position: fixed;
    width: 280px;
    height: 100%;
    right: -500px;
    top: 0;
    z-index: 5; /* for mobile menu */
    background-color: var(--body-background-color);
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 22px;
    border-left: 2px solid var(--black-color);
    transition: 1s;
}

.mobile__menu-content {
    display: flex;
    gap: 0px;
}

.mobile__menu-list {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mobile__menu-item {
    font-size: 25px;
    color: var(--white);
}

.mobile__menu-item:hover {
    color: var(--green);
}

.mobile__menu__close-btn {
    font-size: 50px;
    color: var(--white);
}