.products {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.all__products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.all__products-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    background-color: white;
    width: 320px;
    height: 420px;
}

.product-image {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    max-width: 250px;
    text-align: left;
}

.product__price-value {
    font-size: 20px;
    color: var(--black-color-lighter);
    padding-right: 215px; /* это не решение проблемы */
}

.product__price-currency {
    font-size: 18px;
    color: var(--black-color-lighter);
}


.all__products__item-hide {
    display: none;
}
